<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home page for ejs</title>
</head>

<body>
  <h1>this is main page</h1>
  <!-- for making the page dynamic thats why I use ejs tags -->
  <h3>
    <%= 1+2 %>
  </h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus assumenda numquam quas nisi enim debitis. Ullam
    nulla eveniet non, sunt iure totam quidem ipsum officia eos laboriosam commodi delectus consequatur?
    Quae, dolore cumque quo sequi dicta quia quidem unde. Saepe quos consequatur, nisi consectetur explicabo quisquam
    voluptatem esse similique vel, iure obcaecati perspiciatis ut aspernatur quibusdam nemo commodi cumque. Eos?</p>
  <button>click me</button>
</body>

</html>